.bgContainer {
    width: 60vh ;
    position: fixed;
    background:white;
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -9999;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    right: 0;
    margin: auto;
    background-position: center;
}

.bgContainer img {
    opacity: 30%;
}

.muter {
    width: 100vh;
    bottom: 0;
    margin-top: 350px;
    right: 0;
    left: 0;
    -webkit-animation: spin 50s linear infinite;
    -moz-animation: spin 50s linear infinite;
    animation: spin 50s linear infinite;
}

.lampu {
    position: fixed;
    width: 50vh
    ;
    right: 0;
    left: 0;
    margin: auto;
    top:0;
    margin-bottom: 50px;
}

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}
