@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,700;1,800&display=swap');

.homePage {
    background: transparent;
    height: 100vh;
}

.tittle {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.tittle img {
    width: 50vh;
}

.buttonContainer {
    width: 100%;
    margin-top: 20%;
}

.MainButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.head {
    position: absolute;
    z-index: -999;
    width: 59vh;
    top: 0;
    left: 0;
    margin-right: 5px;
}

.MainButtonContainer img {
    width: 25vh;

}

.SecondButtonContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top:5%;
}

.SecondButtonContainer img {
    width: 15vh;
    padding-right: 5px;
    padding-left: 5px;
}


.ScreenContainer {
    text-align: start;
    color: white;
    font-weight: 600;
}

.Profil {
    background:purple;
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
    border: 5px solid  black;
    width: 85%;
}

.Profil img {
    width: 15vh;
}

.Credit {
    background:purple;
    padding: 15px;
    margin-top: 15px;
    border-radius: 25px;
    border: 5px solid black;
    display: flex;
    width: 85%;
    flex-direction: column;
}

.Credit a {
    padding-top: 10px;
}

.Credit p {
    width: 80%;
}
