body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

.Link {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;

}

.Link img:active {
  scale: 1.1;
  
}

span {
  background: transparent;
}

.linkquiz {
  text-decoration: none;
  display: flex;
  width: 70%;
  margin-left: 40px;
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-weight: 800;
}

button:active {
  scale: 1.1;
}

iframe {
  margin-top: 20px;
}